.dates {
    display: flex;
    flex-wrap: wrap;
}

    .date {
        width: calc(100% / 7);
        border: 1px solid #bebebe;
        height: 60px;
        background-color: #fdfdfd;
    }

    @media (min-width: 768px) {
        .date {
            height: calc((100vh - 130px) / 5);
        }
    }

        .date .dateNum {
            position: absolute;
            top: 4px;
            left: 4px;
        }
